/* app global css */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  /*font-family: 'Mochiy Pop One', sans-serif;*/
}

body {
  background-color: white;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: bold;
}

h1 {
  font-size: 24px;
  color: whitesmoke;
}

h2 {
  font-size: 22px;
  line-height: 1;
  color: whitesmoke;
  text-transform: capitalize;
  font-family: "Josefin Sans", sans-serif;
}

h3 {
  font-size: 24px;
  color: black;
  font-family: "Mochiy Pop One", sans-serif;
}

h4 {
  font-family: "Mochiy Pop One", sans-serif;
}

h5 {
  font-family: "Josefin Sans", sans-serif;
}

h4,
h5 {
  font-size: 18px;
  color: black;
}

.capitalize {
  text-transform: capitalize;
}
